@font-face {
    font-family: 'Assassin';
    src: url('../font/Assassin.ttf') format('woff2'),
         url('../font/Assassin.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


html,body{
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

body{
    font-family: 'Assassin', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../img/bg4.jpg)
}

.navbar {
    background-image: url(../img/bannière.jpg);
    overflow: hidden;
    padding: 5px;
    border-bottom: 7px solid black;
    font-family: 'Assassin';
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}


.navbar a{
    float: left;
    color: #4A3B3B;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: black;
    color: #F2E6D9;
    transition: background-color 1s ease;
    border-radius: 50% 20% / 10% 40%;
}

.navbar img{
    height: 55px;
}

#accueil{
    scroll-margin-top: 110px;
}

#jeux{
    scroll-margin-top: 120px;
}

.plongez{
    font-size: 40px;
    font-family: 'Assassin', sans-serif;
    text-align: center;
    padding-top: 60px;
}

.carousel{
    margin: 130px;
    border: 7px solid black;
    margin-top: 60px;
}

.titre h1{
    font-family: 'Assassin';
    text-align: center;
    font-size: 90px;
    margin-bottom: 30px;
    background-image: url(../img/paysage.jpg);
    background-repeat: no-repeat;
    padding: 350px;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
}

.card1{
    display: flex;
    justify-content: space-around;
}

.card2{
    display: flex;
    justify-content: space-around;
}


.prix{
    font-size: 24px;
}


.first{
    margin-bottom: 20px;
}


.pied{
    background-image: url(../img/bannière.jpg);
    margin-top: 60px;
    border-top: 7px solid black;
}