@font-face {
    font-family: 'Assassin';
    src: url('../font/Assassin.ttf') format('woff2'),
         url('../font/Assassin.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


html,body{
    margin: 0;
    padding: 0;
}

body{
    font-size: 100px;
    font-family: 'Assassin', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../img/bg2.jpg);
}

.navbar {
    background-image: url(../img/bannière.jpg);
    overflow: hidden;
    padding: 5px;
    border-bottom: 7px solid black;
    font-family: 'Assassin';
    justify-content: space-around;
}

.navbar a{
    float: left;
    color: #4A3B3B;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: black;
    color: #F2E6D9;
    transition: background-color 1s ease;
    border-radius: 50% 20% / 10% 40%;;
}

.navbar img{
    height: 55px;
}

.carousel{
    margin: 100px;
    border: 7px solid black;
}

.titre h1{
    font-family: 'Assassin';
    text-align: center;
    font-size: 90px;
    margin-bottom: 30px;
    background-image: url(../img/paysage.jpg);
    background-repeat: no-repeat;
    padding: 350px;
}